* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "SF-Pro-Display-reg";
  src: url(fonts/SFPRODISPLAYREGULAR.OTF);
}
@font-face {
  font-family: "SF-Pro-Display-sb";
  src: url(fonts/SFPRODISPLAYMEDIUM.OTF);
}
a {
  font-family: "SF-Pro-Display-reg";
}
.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: "SF-Pro-Display-reg";
}
header {
  width: 100%;
  height: auto;
  padding-bottom: 120px;
}
nav {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0px 4px 15px rgba(49, 60, 72, 0.05);
  background: #ffffff;
  display: flex;
  align-items: center;
}
.navbar-nav {
  height: auto;
  margin-left: 8%;
  align-items: center;
}
.nav-link {
  font-family: "SF-Pro-Display-reg";
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 0 25px;
}
.tel-num {
  font-family: "SF-Pro-Display-reg";
  font-size: 24px;
  line-height: 29px;
  color: #0d1c41;
}
.l-k {
  font-size: 18px;
  line-height: 21px;
  margin-right: 14px;
  color: #0d1c41;
}
.fa-user-circle {
  font-size: 24px;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: auto; */
  /* height: auto; */
  text-align: center;
  padding: 2px;
}
.header-main {
  width: 80%;
  height: auto;
  margin: 30px 10%;
  /* border: 1px solid red; */
  box-shadow: 2px 2px 5px rgba(20, 29, 61, 0.15),
    -2px -2px 5px rgba(20, 29, 61, 0.15);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10%;
}
.header-left {
  width: 40%;
  height: auto;
  margin-left: 98px;
}
.header-left h2 {
  font-size: 36px;
  line-height: 43px;
}
.header-left p {
  font-size: 14px;
  line-height: 17px;
  color: #939ca6;
}
.header-btn {
  text-transform: uppercase;
  width: 265px;
  height: 59px;
  margin-top: 92px;
}
#second-sector {
  width: 100%;
  height: auto;
  padding-bottom: 120px;
}
.second-group {
  width: 80%;
  margin: 49px auto;
}
.comment {
  width: auto;
  height: auto;
  /* border: 1px solid red; */
  background-color: #ddd0a4;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
}
#second-gr-firs {
  justify-content: space-between;
  width: 33%;
}
.comment span {
  padding-top: 5px;
  color: white;
  font-size: 14px;
  line-height: 17px;
}
.second-info {
  width: 165px;
  height: 190px;
  left: 838px;
  top: 850px;
  padding: 35px 0;
  background: #ffffff;
  box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 20px;
}
.second-info img {
  margin-bottom: 20px;
}
.second-info p {
  font-size: 14px;
  line-height: 17px;
}

#third-sector {
  width: 100%;
  height: auto;
  padding-bottom: 120px;
}
.third-main {
  width: 80%;
  height: auto;
  margin: 40px auto;
}
.third-m-right {
  width: 28%;
  text-align: left;
}
.third-m-right h2 {
  font-size: 64px;
  line-height: 76px;
  margin-bottom: 10px;
}
.third-m-right p {
  font-size: 24px;
  line-height: 29px;
}
.third-main-2 {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.third-m-left-2 {
  width: 30%;
  text-align: left;
  /* margin-left: 10%; */
}
.third-m-left-2 h3 {
  font-family: "SF-Pro-Display-sb";
  font-style: normal;
  font-size: 29.66px;
  line-height: 35px;
  letter-spacing: -0.28px;
}
.third-m-left-2 h3 img {
  margin-right: 25px;
}
.third-m-left-2 p {
  font-size: 24px;
  line-height: 29px;
}
.third-m-right-2 img {
  width: auto;
  height: 400px;
}
.third-m-right-2 hr {
  width: auto;
  height: 5px;
  background: black !important;
  background-color: black !important;
  color: black !important;
  border: 5px solid #000000 !important;
  margin-top: -8px;
}
.third-main-3 {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.third-main-3 img {
  width: 50%;
  height: auto;
  margin: 0 auto;
}
.third-m-right-3 h2 {
  font-size: 64px;
  line-height: 76px;
}
.third-m-right-3 p {
  font-size: 24px;
  line-height: 29px;
  width: 55%;
}
#fourth-sector {
  width: 100%;
  height: auto;
  padding-bottom: 120px;
  text-align: center;
}
#fourth-sector h1 {
  font-size: 48px;
  line-height: 57px;
  margin: 0 auto;
  margin-bottom: 48px;
  width: 80%;
}
#fourth-sector img {
  width: 80%;
  height: auto;
  margin: 0 auto;
}
#fifth-sector {
  width: 100%;
  height: auto;
  padding-bottom: 120px;
}
.accordion-flush {
  width: 70% !important;
}
#sixth-sector {
  width: 100%;
  height: auto;
  padding-bottom: 120px;
}
#sixth-sector h1 {
  width: 60%;
  margin: 0 auto;
  font-size: 48px;
  line-height: 57px;
}
.sixth-main {
  width: 80%;
  height: auto;
  margin: 43px auto;
}
.sixth-m-left {
  display: flex;
  width: 50%;
  height: auto;
  justify-content: space-around;
}
.sixth-info {
  width: 35%;
  height: 200px;
  background: #ffffff;
  border: 1px solid #4a607a;
  box-sizing: border-box;
  box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 20px;
  padding: 30px 30px;
}
.sixth-info:hover {
  border: 1px solid #ddd0a4;
  box-sizing: border-box;
  box-shadow: -2px 7px 18px -5px rgba(48, 45, 38, 0.3);
  cursor: pointer;
}
.sixth-info img {
  margin-bottom: 25px;
}
.sixth-info p {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
.card-body {
  width: 80%;
  margin: 0 auto;
}
.docs-card {
  height: auto;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
}
#seventh-sector {
  width: 100%;
  height: auto;
  text-align: center;
  padding-bottom: 120px;
}
#seventh-sector h1 {
  width: 60%;
  font-size: 48px;
  line-height: 57px;
  margin: 50px auto;
}
#seventh-sector button {
  width: 265px;
  height: 59px;
  border: 1px solid #4a607a;
  box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 6px;
}
#eighth-sector {
  width: 100%;
  height: auto;
  padding-bottom: 120px;
}
.eighth-titul {
  height: auto;
  margin: 0 auto;
  text-align: center;
}
footer {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}
.footer-main {
  width: 80%;
  height: auto;
  align-items: flex-start;
  margin: 0 auto;
  padding-top: 84px;
}
.footer-left {
  align-items: flex-start;
  color: white;
  width: auto;
  justify-content: space-around;
  text-align: left;
}
.footer-left li {
  list-style: none;
  margin-bottom: 24px;
}
.footer-left a {
  color: white;
  text-decoration: #4a607a;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.footer-left a:hover {
  text-decoration: #ddd0a4;
  color: #ddd0a4;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
}
.footer-right {
  align-items: flex-start;
  justify-content: space-around;
  width: 50%;
  text-align: left;
  margin-left: 10px;
}
.footer-r-l {
  width: 35%;
  text-align: left;
}
.footer-r-l p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #9c9c9c;
  margin-bottom: 40px;
}
.footer-r-l button {
  width: 200px;
  height: 45px;
  background: #ffffff;
  border: 1px solid #4a607a;
  box-sizing: border-box;
  box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
}
.footer-r-r {
  width: 50%;
}
.footer-r-r p {
  font-size: 18px;
  line-height: 21px;
  color: #9c9c9c;
}
.footer-r-r h4 {
  font-size: 24px;
  line-height: 29px;
  color: white;
  margin: 42px 0;
}
.footer-r-r a {
  text-decoration: #ffffff;
}
.fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  color: #ddd0a4;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}
.footer-end {
  font-size: 14px;
  line-height: 17px;
  color: #9c9c9c;
  width: 80%;
  margin: 39px auto;
  margin-bottom: 0;
}
